/* variables start */
:root{
  --dark-blue: #010E28;
  --box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.25);
  --transition: all .25s ease;
  --blue: #3BBBE9;
  --pink: #FF1967;
  --gray: #718792;
  --light-gray: #ddd;
  --white: #fff;
  --black: #000;
  --left-align: 13.5rem;
  --right-align: 20rem;
}
/* variables end */

/* default start */
*, :after, :before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  font-family: 'Rubik', sans-serif, arial;
  margin: 0;
  padding: 0;
}
body {
  position: relative;
  margin: 0;
  padding: 0;
}
img {
  max-width: 100%;
  width: auto;
}
a {
  text-decoration: none;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
svg {
  width: 1rem;
  height: 1rem;
}
h1 {
  font-size: 3.1rem;
  line-height: 1.8rem;
  font-weight: 600;
  margin: 0;
}
h2 {
  font-size: 2rem;
  font-weight: 600;
}
h3 {
  color: var(--black);
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 500;
}
p {
  font-size: .75rem;
  color: var(--gray);
  line-height: 1.2rem;
}
/* default end */

.sidebar.open {
  left: 0;
}

.open {
  visibility: visible;
  opacity: 1;
}

/* mobile_header start */
 .mobile_header {
   position: -webkit-sticky;
   position: sticky;
   top: 0;
   height: 3.5rem;
   display: none;
   -webkit-box-align: center;
       -ms-flex-align: center;
           align-items: center;
   -webkit-box-pack: justify;
       -ms-flex-pack: justify;
           justify-content: space-between;
   background-color: var(--dark-blue);
   z-index: 5;
 }
 .mobile_header .container {
   -webkit-box-align: center;
       -ms-flex-align: center;
           align-items: center;
   margin: 0 auto;
   height: 100%;
 }
 .mobile_header .mobile_logo {
   height: 1.5rem;
 }
 .mobile_header .mobile_logo a {
   display: block;
   height: inherit;
   -webkit-transition: var(--transition);
   -o-transition: var(--transition);
   transition: var(--transition);
 }
 .mobile_header .mobile_logo a:hover {
   -webkit-filter: drop-shadow(0px 0px 7px var(--white));
           filter: drop-shadow(0px 0px 7px var(--white));
 }
 .mobile_header .mobile_logo a svg {
  width: 6rem;
  height: inherit;
  fill: var(--white);
 }
 .mobile_header .mobile_sign_in {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-align: center;
       -ms-flex-align: center;
           align-items: center;
   -webkit-box-pack: center;
       -ms-flex-pack: center;
           justify-content: center;
   border: 2px solid var(--white);
   border-radius: 1rem;
 }
 .mobile_header .mobile_sign_in a {
   padding: .3rem .7rem;
   color: var(--white);
   font-size: .9rem;
   font-weight: 500;
 }
 
 /*burger*/
#menuToggle {
  display: block;
  position: relative;
  z-index: 1;
  -webkit-user-select: none;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
}
#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
  -webkit-touch-callout: none;
}
#menuToggle span {
  display: block;
  width: 1.7rem;
  height: 2px;
  margin-bottom: 5px;
  position: relative;
  background: var(--white);
  border-radius: 3px;
  z-index: 1;
  -webkit-transform-origin: 4px 0px;
      -ms-transform-origin: 4px 0px;
          transform-origin: 4px 0px;
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
}
#menuToggle span:first-child
{
  -webkit-transform-origin: 0% 0%;
      -ms-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
}
#menuToggle span:nth-last-child(2)
{
  -webkit-transform-origin: 50% 100%;
      -ms-transform-origin: 50% 100%;
          transform-origin: 50% 100%;
}
#menuToggle input:checked ~ span
{
  opacity: 1;
  -webkit-transform: rotate(45deg) translate(-7px, -11px);
      -ms-transform: rotate(45deg) translate(-7px, -11px);
          transform: rotate(45deg) translate(-7px, -11px);
}
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  -webkit-transform: rotate(0deg) scale(0.2, 0.2);
      -ms-transform: rotate(0deg) scale(0.2, 0.2);
          transform: rotate(0deg) scale(0.2, 0.2);
}
#menuToggle input:checked ~ span:nth-last-child(2)
{
  -webkit-transform: rotate(-45deg) translate(0, 0px);
      -ms-transform: rotate(-45deg) translate(0, 0px);
          transform: rotate(-45deg) translate(0, 0px);
}
/*burger*/
/* mobile_header end */

/* sidebar start */
body .sidebar {
  height: 100vh;
  width: var(--left-align);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  padding: .7rem 1rem;
  background-color: var(--dark-blue);
  -webkit-box-shadow: var(--box-shadow);
          box-shadow: var(--box-shadow);
  z-index: 5;
}
body .sidebar .header_sidebar {
  padding: 1.4rem 0 3rem;
}
body .sidebar .header_sidebar a.logo svg {
  width: 7rem;
  height: 2rem;
  fill: var(--white);
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
}
body .sidebar .header_sidebar a svg:hover {
  -webkit-filter: drop-shadow(0px 0px 7px var(--white));
          filter: drop-shadow(0px 0px 7px var(--white));
}

body .sidebar .sidebar_links {
  height: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .sidebar .header_sidebar_links .main_links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}
body .sidebar .header_sidebar_links .main_links li.active span,
body .sidebar .header_sidebar_links .main_links li:hover span {
  color: var(--blue);
}
body .sidebar .header_sidebar_links .main_links li.active svg.icon,
body .sidebar .header_sidebar_links .main_links li:hover svg{
  fill: var(--blue);
}
body .sidebar .header_sidebar_links .main_links li.active:before {
  content: '';
  display: block;
  position: absolute;
  top: -.3rem;
  bottom: 0;
  left: -1rem;
  height: 100%;
  width: 2px;
  padding: 1rem 0;
  background-color: var(--pink);
}
body .sidebar .header_sidebar_links .main_links li {
  position: relative;
  width: 100%;
  margin: 1.2rem 0;
  line-height: 1.4rem;
}
body .sidebar .header_sidebar_links .main_links li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  line-height: 1.4rem;
}
body .sidebar .header_sidebar_links .main_links li:first-child span {
  text-transform: uppercase;
}
body .sidebar .header_sidebar_links .main_links span {
  color: var(--white);
  text-transform: capitalize;
  margin-left: 1rem;
  font-weight: 400;
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
  font-size: 1rem;
}
body .sidebar .header_sidebar_links .main_links svg {
  float: left;
  fill: var(--white);
  width: 1.2rem;
  height: 1.2rem;
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
}

body .sidebar .footer_sidebar_links .info_links li a {
  color: var(--gray);
  text-transform: capitalize;
  font-size: .75rem;
  line-height: 2rem;
  font-weight: 400;
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
}
body .sidebar .footer_sidebar_links .info_links li a:hover {
  color: var(--blue);
}
body .sidebar .footer_sidebar_links .feedback a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--white);
  font-size: .75rem;
  text-transform: capitalize;
  line-height: 2rem;
  font-weight: 400;
}
body .sidebar .footer_sidebar_links .feedback a svg {
  fill: var(--white);
  margin-right: .5rem;
}
body .sidebar .footer_sidebar_links .social_icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 2.7rem;
}
body .sidebar .footer_sidebar_links .social_icons li {
  margin-right: 2rem;
}
body .sidebar .footer_sidebar_links .social_icons li a svg {
  width: 1rem;
  height: 1rem;
}
body .sidebar .footer_sidebar_links .social_icons li:nth-child(2) a svg {
  width: 1.3rem;
}
body .sidebar .footer_sidebar_links .footer_sidebar_span {
  font-size: .75rem;
  color: var(--gray);
  padding-bottom: 1.5rem;
}
/* sidebar end */

/* main content start */
.main_section {
  height: 6rem;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: var(--white);
  padding-left: var(--left-align);
  padding-right: var(--right-align);
  border-bottom: 1px solid;
  border-bottom-color: var(--light-gray);
  z-index: 3;
}
.main_section .header_main_section {
  margin: auto;
  width: 90%;
  height: 100%;
  max-width: 1120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
  align-items: center;
}
.main_section .header_main_section .right_side_header_main_section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main_section .header_main_section .right_side_header_main_section .language_switcher a {
  font-size: 1rem;
  font-weight: 400;
  color: var(--gray);
  text-transform: capitalize;
  margin-right: 1.5rem;
}
.main_section .header_main_section .right_side_header_main_section .btn_sign_in a {
  font-size: 1rem;
  font-weight: 500;
  color: var(--blue);
  text-transform: capitalize;
  border: 2px solid var(--blue);
  border-radius: 2rem;
  padding: .5rem 3.2rem;
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
}
.main_section .header_main_section .right_side_header_main_section .btn_sign_in a:hover {
  color: var(--white);
  border: 2px solid var(--blue);
  background-color: var(--blue);
}
.container .footer_cookie_notification {
  position: fixed;
  bottom: 0;
  left: var(--left-align);
  right: var(--right-align);
  height: 4rem;
  margin: 0 .2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: rgba(255, 255, 255, 0.90);
  color: var(--gray);
  font-size: .8rem;
  padding: .5rem 1.6rem .5rem .5rem;
  text-align: center;
  z-index: 6;
}
.container .footer_cookie_notification span.span_blue {
  color: var(--blue);
}
/* close */
.wrap_close {
  position: relative;
}
div.close_modal {
  top: .7rem;
  right: .7rem;
}
.close_cookie,
.close_modal {
  position: absolute;
  right: 2%;
  width: 18px;
  height: 18px;
  opacity: 1;
  cursor: pointer;
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
}
.close_cookie:hover ,
.close_modal:hover {
  opacity: .5;
}
.close_cookie:before, .close_cookie:after,
.close_modal:before, .close_modal:after {
  position: absolute;
  left: .5rem;
  content: ' ';
  height: 18px;
  width: 1px;
  background-color: var(--gray);
}
.close_cookie:before,
.close_modal:before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}
.close_cookie:after,
.close_modal:after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
/* close */

.wrap_container {
  position: relative;
  margin-top: 1.9rem;
  padding-left: var(--left-align);
  padding-right: var(--right-align);
}
.wrap_container img {
  border-radius: .3rem;
}
.container {
  width: 90%;
  max-width: 1120px;
  margin: 0 auto 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.wrap_container .container .media_banner {
  width: calc(100% - 30%);
  max-width: 736px;
}
.wrap_container .container .latest_sidebar {
    width: calc(100% - 70% - 1rem);
}
.wrap_container .container .media_banner .header_media_banner {
  position: relative;
  z-index: 2;
  margin-bottom: 2rem;
}
.wrap_container .container .media_banner .header_media_banner img {
  -webkit-box-shadow: var(--box-shadow);
          box-shadow: var(--box-shadow);
}
.wrap_container .container .media_banner .header_media_banner:before {
  content: '';
  max-width: 736px;
  display: block;
  position: absolute;
  top: 0;
  bottom: 5px;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.32);
  z-index: 3;
  border-radius: .5rem;
  pointer-events: none;
}
.wrap_container .container .media_banner .header_media_banner:hover .article_info {
  visibility: visible;
  opacity: 1;
  bottom: 1rem;
  z-index: 3;
}
 .article_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: absolute;
  left: .5rem;
  bottom: -1rem;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
  pointer-events: none;
}
 .article_info li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 1rem;
}
 .article_info li svg {
  fill: var(--white);
  margin-right: .5rem;
}
 .article_info li span {
  font-size: .75rem;
  font-weight: normal;
  color: var(--white);
}.wrap_container .container .media_banner .header_media_banner a:first-child {
    display: block;
  }
.wrap_container .container .media_banner .header_media_banner > a.cs {
  position: absolute;
  top: 40%;
  left: 0;
  right: 0;
  color: var(--white);
  z-index: 4;
  text-align: center;
  margin: auto;
  border: 1px solid var(--white);
  width: 9rem;
  border-radius: 3rem;
  padding: .3rem .5rem;
  text-transform: capitalize;
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
}
.wrap_container .container .media_banner .header_media_banner > a.cs:hover {
  background-color: var(--white);
  color: var(--black);
}
.wrap_container .container .media_banner .header_media_banner > h2 {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  color: var(--white);
  z-index: 4;
  text-align: center;
  margin: auto;
  pointer-events: none;
}
.wrap_container .container .media_banner .bottom_media_banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
 .article_block {
  position: relative;
  width: calc(100% - 50% - 1rem);
}
 .article_block p {
   font-size: .9rem;
   line-height: 1.5rem;
 }
 .article_block a:first-child {
   display: block;
   position: relative;
  margin-bottom: .7rem;
 }
 .article_block a:first-child:before {
  content: '';
  max-width: 736px;
  position: absolute;
  top: 0;
  bottom: 3px;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.32);
  z-index: 2;
  border-radius: .5rem;
  pointer-events: none;
   -webkit-transition: var(--transition);
   -o-transition: var(--transition);
   transition: var(--transition);
   opacity: 0;
 }
 .article_block:hover a:first-child:before {
   opacity: 1;
}
 .article_block:hover .article_info {
  bottom: 1rem;
  visibility: visible;
  opacity: 1;
   z-index: 5;
}
 .article_block ul.article_info {
  bottom: 0;
}
 .article_block img {
  -webkit-box-shadow: var(--box-shadow);
          box-shadow: var(--box-shadow);
  cursor: pointer;
}
 .article_block .red_article_btns,
 .mob_header_meadia_banner_info .red_article_btns {
  font-size: .70rem;
  border: 1px solid var(--pink);
  border-radius: 1rem;
  color: var(--pink);
  padding: .3rem .7rem;
  text-transform: capitalize;
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
}
 .article_block .red_article_btns:hover,
 .mob_header_meadia_banner_info .red_article_btns:hover {
  background-color: var(--pink);
  color: var(--white);
}

.wrap_container .container .latest_sidebar h2 {
  margin-top: 0;
  font-size: 1.75rem;
  line-height: 2rem;
  color: var(--blue);
  text-transform: capitalize;
}
.wrap_container .container .latest_sidebar .article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.wrap_container .container .latest_sidebar .article:hover a h3 {
  color: var(--blue);
}
.wrap_container .container .latest_sidebar .article a h3 {
  margin-top: 0;
  margin-left: .7rem;
  margin-bottom: 1.85rem;
  width: 100%;
  color: var(--black);
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
}
.wrap_container .container .latest_sidebar .article span.data_time {
  font-size: .5rem;
  line-height: 1.4rem;
  color: var(--gray);
}
.wrap_container .container .latest_sidebar > a {
  font-size: 1rem;
  color: var(--blue);
  padding-left: 2.2rem;
}
/* main content end */

/* section popular start */
.section_popular {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.section_popular .article_block:hover .article_info {
  z-index: 5;
}
.section_popular h2 {
  width: 100%;
  margin-top: 0;
  font-size: 2rem;
  line-height: 2rem;
  color: var(--black);
  text-transform: capitalize;
}
.section_popular .article_block {
  width: calc(100% / 3 - 1rem);
}
/* section popular end */

/* sidebar stream start */
  /* circle start */
@-webkit-keyframes scaleIn {
  from {
    -webkit-transform: scale(.5, .5);
            transform: scale(.5, .5);
    opacity: .5;
  }
  to {
    -webkit-transform: scale(2.5, 2.5);
            transform: scale(2.5, 2.5);
    opacity: 0;
  }
}
@keyframes scaleIn {
  from {
    -webkit-transform: scale(.5, .5);
            transform: scale(.5, .5);
    opacity: .5;
  }
  to {
    -webkit-transform: scale(2.5, 2.5);
            transform: scale(2.5, 2.5);
    opacity: 0;
  }
}
.circle {
  border-radius: 50%;
  background-color: var(--pink);
  width: 150px;
  height: 150px;
  position: absolute;
  opacity: 0;
  -webkit-animation: scaleIn 4s infinite cubic-bezier(.36, .11, .89, .32);
          animation: scaleIn 4s infinite cubic-bezier(.36, .11, .89, .32);
}
#container {
  width: 1rem;
  height: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  padding: .7rem 1rem;
}
.circle {
  border-radius: 50%;
  background-color: var(--pink);
  width: 15px;
  height: 15px;
  position: absolute;
  opacity: 0;
}
  /* circle end */

.sidebar_stream {
  height: 100vh;
  width: var(--right-align);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: var(--white);
  -webkit-box-shadow: var(--box-shadow);
          box-shadow: var(--box-shadow);
  z-index: 5;
}
.sidebar_stream .header_stream {
  height: 6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 2rem;
  border-bottom: 1px solid;
  border-bottom-color: var(--light-gray);
}
.sidebar_stream .header_stream #outerContainer {
  margin-right: .5rem;
}
.sidebar_stream .main_stream {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 2rem;
  overflow-y: auto;
  height: 100%;
  margin-right: -0.6rem;
}
.sidebar_stream .main_stream .block_stream {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  margin-bottom: 1.3rem;
}
.sidebar_stream .main_stream .block_stream:last-child {
  margin-bottom: 6rem;
}
.sidebar_stream .main_stream .block_stream .comment_avatar {
  margin-right: .7rem;
}
.sidebar_stream .main_stream .block_stream h3 {
  margin: 0;
  line-height: normal;
  cursor: default;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  overflow: hidden;
}
.sidebar_stream .main_stream .block_stream .comment_info {
  overflow: hidden;
}
.sidebar_stream .main_stream .block_stream .comment_info > span {
  font-size: .75rem;
  color: var(--gray);
  cursor: default;
}
.sidebar_stream .main_stream .block_stream .comment_info a p {
  margin: .5rem auto;
  font-size: 1rem;
  font-weight: 400;
  color: var(--black);
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
}
.sidebar_stream .main_stream .block_stream .comment_info a span {
  font-size: 1rem;
  font-weight: 400;
  color: var(--blue);
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
}
.sidebar_stream .main_stream .block_stream .comment_info a p:hover {
  color: var(--blue);
}
.sidebar_stream .main_stream .block_stream .comment_info a span:last-child:hover {
  text-decoration: underline;
}
.sidebar_stream .main_stream .block_stream svg {
  width: 2.3rem;
  height: 2.3rem;
}
.sidebar_stream .main_stream .block_stream a {
  width: 75%;
}
/* sidebar stream end */

.mobile_line {
  display: none;
}
.wrap_img_article {
  display: none;
}
.mob_header_meadia_banner_info {
  display: none;
}

.block_overlay {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.55);
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
  z-index: 5;
}
.modal {
  padding: 1rem 1.5rem 2rem;
  visibility: hidden;
  opacity: 0;
  margin: auto;
  position: fixed;
  top: 35%;
  left: 0;
  right: 0;
  width: 100%;
  max-width: 27.5rem;
  border-radius: .5rem;
  background-color: var(--white);
  -webkit-box-shadow: var(--box-shadow);
          box-shadow: var(--box-shadow);
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
  z-index: 6;
}
.modal h2 {
  font-size: 1.8rem;
  font-weight: 500;
  cursor: default;
}
.modal form .field-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 1.2rem;
}
.modal form .field-wrap label {
  margin-bottom: .5rem;
}
.modal form .field-wrap input {
  height: 2.5rem;
  width: 100%;
  border-radius: .5rem;
  border: 1px solid var(--light-gray);
  outline: none;
  font-size: 1rem;
  color: var(--gray);
  padding: 0 1rem;
}
.modal form .field-wrap:nth-child(2) input {
  color: var(--black);
  font-size: 1.5rem;
}
.modal form button {
  display: block;
  margin: 0 auto 1rem;
  width: 10rem;
  border-radius: 2rem;
  padding: 0.8rem 1rem;
  font-size: .9rem;
  font-weight: 600;
  border: 2px solid var(--blue);
  background-color: var(--blue);
  color: var(--white);
  cursor: pointer;
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
  outline: none;
}
.modal form button:hover {
  background-color: var(--white);
  color: var(--blue);
}
.modal form .rememberme_wr {
  display: block;
  margin-top: .5rem;
  margin-bottom: 1.5rem;
  font-size: .75rem;
}
.modal form .rememberme_wr input {
  background-color: var(--gray);
  border: 1px solid var(--blue);
}
.modal form > a {
  display: block;
  margin: auto;
  text-align: center;
  font-size: .75rem;
  color: var(--blue);
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
}
.modal form > a:hover {
  text-decoration: underline;
}
.modal.open {
  top: 15%;
}
.modal.open,
.block_overlay.open {
  visibility: visible;
  opacity: 1;
}

@media only screen and (max-width: 1439px) {
  .wrap_container .container .media_banner .header_media_banner > a.cs {
    top: 25%;
  }
  .wrap_container .container .media_banner .header_media_banner > h2 {
    top: 37%;
  }
  .wrap_container .container .latest_sidebar .article a h3 {
      font-size: 0.88rem;
  }
}

@media only screen and (max-width: 1199px) {
  .container {
    margin: auto;
  }
  body .sidebar .sidebar_links {
    height: 98%;
  }
  .wrap_container .container .media_banner .header_media_banner > a.cs {
    top: 40%;
  }
  .wrap_container .container .media_banner .header_media_banner > h2 {
    top: 50%;
  }
  body .sidebar {
    height: 95vh;
    width: 100%;
    overflow-y: auto;
    max-width: 280px;
    position: fixed;
    top: auto;
    -webkit-transition: var(--transition);
    -o-transition: var(--transition);
    transition: var(--transition);
  }
  body .sidebar .sidebar_links .header_sidebar_links {
    margin-top: 2rem;
  }
 .mobile_header {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
 }
  body .sidebar {
    left: -25rem;
  }
  body .sidebar .header_sidebar {
    display: none;
  }
  .sidebar_stream, .main_section {
    display: none;
  }
  .article_block,
  .section_popular .article_block {
    margin-bottom: 2rem;
  }
  .mob_header_meadia_banner_info {
    margin-bottom: 2.5rem;
  }
  .wrap_container {
    padding: 0;
    width: 100%;
  }
  .container .footer_cookie_notification {
    width: 100%;
    margin: 0;
    left: 0;
    right: 0;
    padding-right: 1.5rem;
  }
  .close {
    right: 1rem;
  }
  .wrap_container .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .wrap_container .container .media_banner,
  .wrap_container .container .latest_sidebar,
  .wrap_container img {
    width: 100%;
    max-width: 100%;
  }
  .section_popular .article_block {
    width: calc(100% / 2 - 1rem);
  }
  .wrap_container .container .latest_sidebar {
    margin-bottom: 2rem;
  }
  .mobile_line {
    display: block;
    -webkit-box-shadow: var(--box-shadow);
            box-shadow: var(--box-shadow);
    width: 100%;
    height: 1px;
    margin: 0 auto 2rem;
    background-color: var(--light-gray);
  }
  .wrap_container .container .latest_sidebar .article {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 2.1rem;
  }
  .wrap_container .container .latest_sidebar:after {
    clear: both;
  }
  .wrap_img_article {
    float: left;
    display: block;
    margin-right: 1rem;
    max-width: 56px;
    max-height: 56px;
    border-radius: 1rem;
    -webkit-box-shadow: var(--box-shadow);
            box-shadow: var(--box-shadow);
  }
  .wrap_container .container .latest_sidebar .article span.data_time {
    line-height: normal;
  }
  .wrap_container .container .latest_sidebar > a {
    padding: 0;
  }
  .wrap_img_article:after {
    clear: both;
  }
  .wrap_container .container .latest_sidebar .article a h3 {
    margin: 0;
  }
  .wrap_container .container .media_banner .header_media_banner {
    margin-bottom: .7rem;
  }
  .wrap_container .container .media_banner .header_media_banner:before {
    max-width: 100%;
  }
  .media_banner h3 {
    margin-bottom: 0;
  }
  .media_banner p {
    margin-top: .5rem;
  }
  .mob_header_meadia_banner_info {
    display: block;
  }
}

@media only screen and (max-width: 767px) {
  h3,
  .wrap_container .container .latest_sidebar > a {
    font-size: .9rem;
  }
  .wrap_container .container .media_banner .header_media_banner > h2 {
    display: none;
  }
  .wrap_container .container .media_banner .bottom_media_banner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .article_block,
  .section_popular .article_block {
    width: 100%;
  }
  .article_block a:first-child {
    border-radius: 1rem;
    overflow: hidden;
  }
}

.cbalink {
  display: none !important;
  visibility: hidden !important;
  opacity: 0 !important;
}